<div class="container">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <form (ngSubmit)="onUpdate()" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="company_exp">Nombre</label>
                    <input type="text" class="form-control" id="name" name="name"
                    [(ngModel)]="name" required>
                </div>
                <div class="form-group">
                    <label for="description_exp">Título</label>
                    <input type="text" class="form-control" id="title-portfolio" name="title"
                    [(ngModel)]="title" required>
                </div>
                <div class="form-group">
                    <label for="description_exp">Introducción</label>
                    <input type="text" class="form-control" id="introduction" name="introduction"
                    [(ngModel)]="introduction" required>
                </div>
                <div class="form-group">
                    <label for="description_exp">Seleccionar foto de perfil...</label>
                    <input type="file" class="form-control" id="imagen" name="imagen"
                    (change)="onFileSelected($event)">
                </div>
                <div class="form-group">
                    <label for="description_exp">Footer</label>
                    <input type="text" class="form-control" id="footer" name="footer"
                    [(ngModel)]="footer" required>
                </div>
                <div class="botones mt-3">
                    <button class="btn btn-outline-success btn-block">
                        <i class="fas fa-pencil-alt"></i> Actualizar</button>
                    <button class="btn btn-outline-primary btn-block mx-5" (click)=goBack()>
                        <i class="fas fa-arrow-alt-circle-left"></i> Volver</button>
                </div>
            </form>
        </div>
    </div>
</div>
