<div class="container">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <form (ngSubmit)="onUpload()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="institucion">Institución Educativa</label>
                    <input type="text" class="form-control" id="institucion" name="institucion"
                    [(ngModel)]="institucion" required>
                </div>
                <div class="form-group">
                    <label for="titulo">Título obtenido</label>
                    <input type="text" class="form-control" id="titulo" name="titulo"
                    [(ngModel)]="titulo" required>
                </div>
                <div class="form-group">
                    <label for="anio">Años de instrucción</label>
                    <input type="text" class="form-control" id="anio" name="anio"
                    [(ngModel)]="anio" required>
                </div>
                <div class="form-group">
                    <label for="description_exp">Seleccionar logo de la institución...</label>
                    <input type="file" class="form-control" id="imagen" name="imagen"
                    (change)="onFileSelected($event)">
                </div>
                <div class="botones mt-3">
                    <button class="btn btn-outline-success btn-block">
                        <i class="fas fa-pencil-alt"></i> Actualizar</button>
                    <button class="btn btn-outline-primary btn-block mx-5" (click)=goBack()>
                        <i class="fas fa-arrow-alt-circle-left"></i> Volver</button>
                </div>
            </form>
        </div>
    </div>
</div>